<header class="cabecalho" id="cabecalho">

    <a class="tituloLogo">
        <img src="assets/iconEgg.png" class="iconEgg">
        <h1 class="titulo">Egg Games</h1>
    </a>

    <div class="pesLoja">
        <section>
            <img src="assets/iconPesquisar.png" class="iconPsq">
            <input class="barraPesq" required autofocus placeholder="Pesquisar loja">
        </section>

        <div>
            <p class="msgUNA">Usuário não autenticado</p>
        </div>

    </div>

</header>
