
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
        <h1>Bem vindo!!</h1>
    <div class="maior">
        <div class="menor">
            <p>
                Bem-vindo ao nosso site exclusivo destinado a fornecer informações essenciais para os colaboradores da nossa empresa. Aqui, você encontrará uma plataforma dedicada a manter todos os funcionários atualizados, fornecendo recursos úteis e garantindo transparência em relação a políticas, benefícios e comunicações internas.
                Nosso principal objetivo ao criar este site é oferecer uma fonte centralizada de informações para os funcionários, facilitando o acesso a dados importantes relacionados ao seu trabalho. Esperamos que você aproveite esse recurso para obter as informações necessárias e estar sempre atualizado sobre as questões relevantes da empresa.
            </p>
        </div>
    </div>
</body>
</html>
