<nav class="menuFrontal">
    <div class="opcoes">
        <a class="btnMenuFront" routerLink="home" routerLinkActive="active-link">
            <img src="assets/iconStore.png" class="icons">
            <p class="escOps">Home</p>
        </a>
        <a class="btnMenuFront" routerLink="funcionarios" routerLinkActive="active-link">
            <img src="assets/iconCommunity.png" class="icons">
            <p class="escOps">Funcionários</p>
        </a>
        <a class="btnMenuFront" routerLink="cadastro" routerLinkActive="active-link">
            <img src="assets/iconCommunity.png" class="icons">
            <p class="escOps">Cadastro</p>
        </a>
    </div>
</nav>